/*               l-form
=============================================== */

.l-Form {
    display: flex;
    flex-direction: column;
    width: 150px;
}

/*               p-form
=============================================== */
/*               form
=============================================== */