/*               l-form
=============================================== */

.l-Form {
    display: flex;
    flex-direction: column;    
    width: 250px; 
    background-color: #e6ffff;
    border-radius: 17px;
}

/*               p-form
=============================================== */
/*               form
=============================================== */