/*               l-form
=============================================== */

.l-Form {
    display: flex;
    flex-direction: column;    
    width: 250px; 
    background-color: #e6ffff;
    border-radius: 17px;
    margin-right: 20px;
}

.l-FormHeader {
    width: 225px;
    font-size: 11px;
    margin-inline-start: auto;
    height: 50px; 
}

.l-FormText {
    display: flex;
    flex-direction: column;
    margin: 7px;
}

.l-FormPicture {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
}

.l-FormCheckbox {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
}
/*               p-Form
=============================================== */
.l-FormPicture form {
    margin: 5px;
}

.l-FormCheckbox label{
    margin: 3px;
}
/*               p-Prevew
=============================================== */
.p-PPrevew h2 {
    font-size: 13px;
}

.p-PPrevew img {
    width: 100%;
}