/*               l-FormText
=============================================== */
.l-FormTextFormat {
    display: flex;
    flex-direction: column;
}

/*               p-Form
=============================================== */
.pdf {
    margin-top: 10px;
}