/* gaikanEtc.scss */
.gaikan-naisou-extra {
  display: flex;
  height:100%; /* 親要素の高さの50%に設定 */
  width: 50%; /* 親要素の幅の50%に設定 */
  padding: 20px; /* 余白 */
  background-color: #f9f9f9; /* 背景色（任意） */
  border: 1px solid #ddd; /* ボーダー（任意） */
  box-sizing: border-box; /* パディングとボーダーを含めた幅の計算 */
  

  .gaikan-image {
    width: 60%; /* 幅を全体の三分の一に設定 */
    height: 100%; /* 高さを親要素に合わせる */
    margin-right: 20px; /* 画像間の間隔 */
    overflow: hidden; /* 画像が親要素からはみ出さないように */
    background-color: red;
    
    img {
      width: 100%; /* 画像の幅を親要素に合わせる */
      height: 100%; /* 画像の高さを親要素に合わせる */
      object-fit: cover; /* 画像のサイズ調整 */
    }
  }

  .extraInfo {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* テキストの縦方向中央揃え */
    align-items: center; /* テキストの横方向中央揃え */
    
    p {
      font-size: 1rem; /* 文字サイズ */
      color: #333; /* 文字色 */
      text-align: center; /* 文字を中央揃え */
    }
  }
}
